:root {
    --ff-sans: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --ff-monospace: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --spacing: 1rem;
    --img-size: 0px;
    --img-zoom: 1;
    --btn-bg-color: aliceblue;
}

* {
    box-sizing: border-box;
}

body {
    margin: var(--spacing);
    font-family: var(--ff-sans);
    text-align: center;
    background-color: #aeb7bf;
}

h1 {
    font-size: 1.5rem;
    margin: calc(var(--spacing) * 2) 0 var(--spacing);
    text-align: center;

    @media screen and (min-width: 600px) {
        font-size: revert;
    }
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    margin: var(--spacing) 0 calc(var(--spacing) * 3);
    text-align: center;

    @media screen and (min-width: 600px) {
        font-size: 1.5rem;
    }
}

canvas {
    width: calc(var(--img-size) * var(--img-zoom));
    max-width: 100%;
    image-rendering: pixelated; /* For modern browsers */
    image-rendering: crisp-edges; /* Fallback for older browsers */

    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
}

output {
    display: block;
    width: 100%;
    padding: calc(var(--spacing) * 0.5);
    font-family: var(--ff-monospace);
    background-color: #dddddd;

    &:empty {
        display: none;
    }
}

textarea {
    width: 100%;
    padding: calc(var(--spacing) * 0.5);
    font-family: var(--ff-monospace);
    font-size: 1rem;
}

button {
    font-weight: bold;
    background-color: var(--btn-bg-color);
    cursor: pointer;
    border: 1px solid var(--btn-bg-color);
    border-radius: 4px;
    transition: background-color 0.15s linear;

    &:hover {
        background-color: rgb(189, 210, 228);
    }
}

.main {
    display: flex;
    column-gap: var(--spacing);
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
}

.config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--spacing);
    text-align: center;
}

.toolbar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: var(--spacing);
    margin-bottom: var(--spacing);

    @media screen and (min-width: 600px) {
        flex-direction: column;
        justify-content: unset;
    }

    button {
        min-width: 45px;
        font-size: 1.5rem;

        @media screen and (min-width: 600px) {
            min-width: 0;
            font-size: 1rem;
        }
    }
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    @media screen and (min-width: 600px) {
        align-items: center;
    }

    button {
        font-size: 1rem;
        padding: calc(var(--spacing) * 0.5) var(--spacing);
    }
}

.preview {
    text-align: center;
}

.hidden {
    display: none;
}

.mirror {
    display: inline-block;
    transform: scaleX(-1);
}
